@import './_typography.css';
@import './utils.css';
@import './_base.css';

:root {
	--color-primary: #0070f3;
	--color-success: #17c964;
	--color-info: #0074f6;
	--color-warning: #f5a623;
	--color-danger: #f31260;
	--color-light: #f1f3f5;
	--color-dark: #11181c;
	--color-inactive: rgba(17, 24, 28, 0.899);

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;

	color: var(--color-dark);
	background-color: var(--color-light);

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	position: relative;

	overflow-x: hidden;

	color: var(--color-dark);
	background-color: var(--color-inactive);
}

.container {
	width: 100vw;
	min-height: 100vh;
	padding: 3.125rem;
	padding-top: 5rem;

	background-color: var(--color-light);

	transition: transform 0.5s linear;
	transform-origin: top left;
}

.container.show-nav {
	transform: rotate(-20deg);
}

.container.show-nav .circle {
	transform: rotate(-70deg);
}

.circle-container {
	position: fixed;
	top: -6.25rem;
	left: -6.25rem;
}

.circle {
	position: relative;

	width: 12.5rem;
	height: 12.5rem;

	border-radius: 50%;
	background-color: var(--color-danger);

	transition: transform 0.5s linear;
}

.circle button {
	position: absolute;
	top: 50%;
	left: 50%;

	height: 6.25rem;

	font-size: 1.625rem;

	color: var(--color-light);
	border: 0;
	background-color: transparent;

	transform: translate(-15%, -15%);
}

.circle button:focus {
	outline: none;
}

.circle button[data-button='open'] {
	left: 60%;
}

.circle button[data-button='close'] {
	top: 60%;

	transform: rotate(90deg) translate(-15%, -15%);
	transform-origin: top left;
}

.container.show-nav + nav li {
	transition-delay: 0.3s;
	transform: translateX(0);
}

nav {
	position: fixed;
	z-index: 100;
	bottom: 40px;
	left: 0;
}

nav ul {
	padding-left: 30px;

	list-style-type: none;
}

nav ul li {
	margin: 40px 0;

	text-transform: uppercase;

	color: #fff;

	transition: transform 0.4s ease-in;
	transform: translateX(-100%);
}

nav ul li i {
	margin-right: 10px;

	font-size: 20px;
}

nav ul li + li {
	margin-left: 15px;

	transform: translateX(-150%);
}

nav ul li + li + li {
	margin-left: 30px;

	transform: translateX(-200%);
}

nav a {
	text-decoration: none;

	color: #fafafa;

	transition: all 0.5s;
}

nav a:hover {
	font-weight: bold;

	color: #ff7979;
}

.content img {
	max-width: 100%;
}

.content {
	max-width: 1000px;
	margin: 50px auto;
}

.content h1 {
	margin: 0;
}

.content small {
	font-style: italic;

	color: #555;
}

.content p {
	line-height: 1.5;

	color: #333;
}
