@import './_typography.css';
@import './utils.css';
@import './_base.css';

:root {
	--color-primary: #0070f3;
	--color-success: #17c964;
	--color-info: #0074f6;
	--color-warning: #f5a623;
	--color-danger: #f31260;
	--color-light: #f1f3f5;
	--color-dark: #11181c;
	--color-inactive: rgba(17, 24, 28, 0.5);

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;

	color: var(--color-dark);
	background-color: var(--color-light);

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

.bg {
	width: calc(100vw + 60px);
	height: calc(100vh + 60px);
	position: absolute;
	top: -30px;
	left: -30px;
	z-index: -1;
	filter: blur(0px);
	background: url('https://images.unsplash.com/photo-1732910063342-cb67ba0f2d90?q=80&w=1934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
}


.loading-text {
	font-size: 120px;
	color: var(--color-light);
	font-weight: 800;
}
