@import './_typography.css';
@import './utils.css';
@import './_base.css';

:root {
	--color-primary: #0070f3;
	--color-success: #17c964;
	--color-info: #0074f6;
	--color-warning: #f5a623;
	--color-danger: #f31260;
	--color-light: #f1f3f5;
	--color-dark: #11181c;
	--color-inactive: rgba(17, 24, 28, 0.5);

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;

	color: var(--color-dark);
	background-color: var(--color-light);

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}

.search {
	position: relative;

	height: 50px;
}

.search .input {
	width: 50px;
	height: 50px;
	padding: 1rem;

	font-size: 18px;

	color: var(--color-dark);
	border: 0;
	border-radius: 8px;
	background-color: #fff;

	transition: width 450ms ease;
}

.btn {
	position: absolute;
	top: 0;
	left: 0;

	width: 50px;
	height: 50px;
	padding: 0;

	font-size: 24px;
	cursor: pointer;

	color: var(--color-dark);
	border: 0;
	border-radius: 8px;
	background-color: #fff;

	transition: transform 450ms ease;
}

.btn:focus,
.input:focus {
	outline: none;
}

.search.active .input {
	width: 200px;

	border-top-right-radius: unset;
	border-bottom-right-radius: unset;
}

.search.active .btn {
	border-top-left-radius: unset;
	border-bottom-left-radius: unset;

	transform: translateX(190px);
}
